<!DOCTYPE html>
<html>
  <head>
    <title>chatting 페이지</title>
    <link rel="stylesheet" href="stylesheets/style.css">
	<script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
	<script>
		$(document).ready(function(){
			//socket 부분 코딩
			var socket = io();
			var now = new Date();
			var a;
			var b;
			var imgId = "";
			if(now.getHours()<12){
				a = "오전";
			}else{
				a = "오후";
			}
			if(now.getMinutes()<10){
				b = "0";
			}else{
				b = "";
			}
			var nowAll =  a +" " + now.getHours() + ":" + now.getMinutes();				
			var splitString = window.location.search.split('?'); //url에서 처음부터 '?'까지 삭제
			var splitString2 = splitString[1].split('&');
			var id_temp = splitString2[0].split('=');
			var id = id_temp[1];
			var name = '<%= row[0].c_name %>';
			var room_temp = splitString2[1].split('=');
			var room = room_temp[1];
			var bool = 0;			
			var roomId;
			var imgId;
			var img="";
			//스크롤 항상 맨 밑으로
			$("#messages-area").scrollTop($("#messages-area")[0].scrollHeight);
						
			//엔터 키 누르면 전송
			$("#listForm input[name=srch_text]").keydown(function(e){
				if(e.keyCode == 13){
					e.cancelBubble = true;
					$("#send").click();
					return false;
				}
			});
			
			//아이콘 누르면 아이콘이 저장되어 있는 div 보이고 안보이고 하는 부분
			$("#iconBtn").click(function(){
				if(bool == 0){
					$("#icon").show();
					$("#iconWindow").empty();
					$("#iconWindow").hide();
					$("#iconWindowClose").hide();
					$("#chat").css('padding-bottom:$("#iconWindow").height()');
					bool = 1;
				}
				else{
					$("#icon").hide();
					bool = 0;
				}
			});
			
			//아이콘 클릭 시 message부분 저장하는 부분
			$(".iconTd").click(function(){
				$("#icon").hide();
				bool = 0;
				imgId = "<img src='./images/icon/"+$(this).attr('id')+".png'>";
				img = "./images/icon/"+$(this).attr('id')+".png";
				$("#iconWindow").append("<img src='./images/icon/"+$(this).attr('id')+".png'>");
				$("#iconWindow").show();
				$("#iconWindowClose").show();
			});
			
			//아이콘 윈도우 닫는 부분
			$("#iconWindowClose").click(function(){
				$('#new-message').empty();
				$("#iconWindowClose").hide();
				$("#iconWindow").empty();
				$("#iconWindow").hide();
			});
			
			//서버로 데이터 전송 부분
			$("#send").click(function(){
				var sendMsg = $("#new-message").val();
				var sendTime = nowAll;
				$("#iconWindow").empty();
				$("#iconWindow").hide();
				$("#iconWindowClose").hide();
				if($('#new-message').val() == "" && imgId == ""){
				}else{
					var check = "<%= rowss.length %>";
					//만약 내 아디이와 친구 아이디로 생성된 방이 없다면
					if(check = ""){
						roomId = room + ":" + id
					//만약 내 아이디와 친구 아이디로 생성된 방이 있다면
					}else{
						roomId = '<%= rowss[0].chat_id %>'
					}
					if(img == ""){
						socket.emit('new message', {
							roomId : roomId,
							id : id,
							name : name,
							message : $('#new-message').val(),
							c_img : '<%= c_row[0].c_img%>',
							img : "",
							time : nowAll
						});
					}else{
						socket.emit('new message', {
							roomId : roomId,
							id : id,
							name : name,
							message : $('#new-message').val(),
							c_img : '<%= c_row[0].c_img%>',
							img : img,
							time : nowAll
						});
					}
					$('#new-message').val('');
					imgId = "";
					img = "";
				}
			});
			
			//채팅방 나가기
			$("#exitChatting").click(function(){
				//sql처리
				$("#exit").click(function(){
					socket.emit('leaveRoom');
				});
			});

			//서버로 데이터 보내기
			socket.on('connect', function(){
				socket.emit('joinRoom',roomId);
			});
			
			socket.on('chat message', function(msg){
			$("#messages-area").animate({scrollTop:$("#messages-area")[0].scrollHeight},'1000');
				if(msg.id == id){
					if(msg.message){
						if(msg.img){
							$('#messages-area').append("<div style='min-height:180px' class='friend_list_right'><p class='time_right'>" + nowAll +"</p><div class='friend_font_right'><img src='" + msg.img + "'><br><div class='arrow_box_right'>"+ msg.message + "</div></div></div><br>");			
						}else{
							$('#messages-area').append("<div style='min-height:80px' class='friend_list_right'><p class='time_right'>" + nowAll +"</p><div class='friend_font_right'><div class='arrow_box_right'>"+ msg.message + "</div></div></div><br>");	
						}
					}else{
						$('#messages-area').append("<div style='min-height:180px' class='friend_list_right'><p class='time_right'>" + nowAll +"</p><div class='friend_font_right'><img src='" + msg.img + "'></div></div><br>");
					}
				}else{
					if(msg.message){
						if(msg.img){
							$('#messages-area').append("<div style='min-height:180px' class='friend_list_left'><img class='friend_pic' src='"+ msg.c_img +"'><div class='friend_font_left'><div class='friend_nick'>" + msg.name + "</div><img src='" + msg.img + "'><div class='arrow_box'>"+ msg.message + "</div></div><p class='time'>" + nowAll + "</p></div><br>");		
						}else{
							$('#messages-area').append("<div style='min-height:80px' class='friend_list_left'><img class='friend_pic' src='"+ msg.c_img +"'><div class='friend_font_left'><div class='friend_nick'>" + msg.name + "</div><div class='arrow_box'>"+ msg.message + "</div></div><p class='time'>" + nowAll + "</p></div><br>");
						}
					}else{
						$('#messages-area').append("<div style='min-height:180px' class='friend_list_left'><img class='friend_pic' src='"+ msg.c_img +"'><div class='friend_font_left'><div class='friend_nick'>" + msg.name + "</div><img src='" + msg.img + "'></div><p class='time'>" + nowAll + "</p></div><br>");
					}
				}
			});	
		});
	</script> 
  </head>
	<body onresize="parent.resizeTo(800,870)" onload="parent.resizeTo(800,870)">
		<div id="chat">
			<div id="exitTop">
				<input type="button" id="exitChatting" value="채팅방 나가기">
			</div>
			<div id="chattingArea">
				<ul id="messages-area">
				<script>
				var splitString = window.location.search.split('?'); //url에서 처음부터 '?'까지 삭제
				var splitString2 = splitString[1].split('&');
				var id_temp = splitString2[0].split('=');
				var id = id_temp[1];
					<% 
					if(rows2.length !== 0){
						for (var j=0; j< rows2.length ; j++){					
					%>
							if('<%= rows2[j].c_id%>' == id){
								if('<%= rows2[j].chat_msg %>'){
									if('<%= rows2[j].chat_img %>'){
										$('#messages-area').append("<div style='min-height:180px' class='friend_list_right'><%= rows2[j].chat_read %><p class='time_right'><%= rows2[j].chat_time%></p><div class='friend_font_right'><img src='<%= rows2[j].chat_img %>'><br><div class='arrow_box_right'><%= rows2[j].chat_msg %></div></div></div><br>");			
									}else{
										$('#messages-area').append("<div style='min-height:80px' class='friend_list_right'><%= rows2[j].chat_read %><p class='time_right'><%= rows2[j].chat_time %></p><div class='friend_font_right'><div class='arrow_box_right'><%= rows2[j].chat_msg %></div></div></div><br>");	
									}
								}else{
									$('#messages-area').append("<div style='min-height:180px' class='friend_list_right'><%= rows2[j].chat_read %><p class='time_right'><%= rows2[j].chat_time %></p><div class='friend_font_right'><img src='<%= rows2[j].chat_img %>'></div></div><br>");
								}
							}else{
								if('<%= rows2[j].chat_msg %>'){
									if('<%= rows2[j].chat_img %>'){
										$('#messages-area').append("<div style='min-height:180px' class='friend_list_left'><%= rows2[j].chat_read %><img class='friend_pic' src='<%= rows2[j].c_img %>'><div class='friend_font_left'><div class='friend_nick'><%= rows2[j].c_name %></div><img src='<%= rows2[j].chat_img %>'><div class='arrow_box'><%= rows2[j].chat_msg %></div></div><p class='time'><%= rows2[j].chat_time %></p></div><br>");		
									}else{
										$('#messages-area').append("<div style='min-height:80px' class='friend_list_left'><%= rows2[j].chat_read %><img class='friend_pic' src='<%= rows2[j].c_img %>'><div class='friend_font_left'><div class='friend_nick'><%= rows2[j].c_name %></div><div class='arrow_box'><%= rows2[j].chat_msg %></div></div><p class='time'><%= rows2[j].chat_time %></p></div><br>");
									}
								}else{
									$('#messages-area').append("<div style='min-height:180px' class='friend_list_left'><%= rows2[j].chat_read %><img class='friend_pic' src='<%= rows2[j].c_img %>'><div class='friend_font_left'><div class='friend_nick'><%= rows2[j].c_name %></div><img src='<%= rows2[j].chat_img %>'></div><p class='time'><%= rows2[j].chat_time %></p></div><br>");
								}
							}
						<%}
					}%>
				</script>
				</ul>
			</div>
			<button id="iconWindowClose">X</button>
			<div id="iconWindow">
			</div>
			<div id="messageArea">
				<button id="iconBtn">+</button>
				<form id="form" onsubmit="return false;">
					<input id="new-message" type="text" placeholder="Search" style="width:75%">
					<input type="button" value="전송" id="send" style="width:16%">
				</form>
			</div>
		</div>
		<div id="icon">
			<div id="iconTop">
				<button id="previous">이전</button>
					<p id="iconName" align="center">이모티콘 이름</p>
				<button id="next">다음</button>
			</div>
			<div id="iconBottom">
				<table>
					<tr>
						<td class="iconTd" id="pre_1"><img src="./images/icon/pre_1.png"></td>
						<td class="iconTd" id="pre_2"><img src="./images/icon/pre_2.png"></td>
						<td class="iconTd" id="pre_3"><img src="./images/icon/pre_3.png"></td>
						<td class="iconTd" id="pre_4"><img src="./images/icon/pre_4.png"></td>
					</tr>
					<tr>
						<td class="iconTd" id="pre_5"><img src="./images/icon/pre_5.png"></td>
						<td class="iconTd" id="pre_6"><img src="./images/icon/pre_6.png"></td>
						<td class="iconTd" id="pre_7"><img src="./images/icon/pre_7.png"></td>
						<td class="iconTd" id="pre_8"><img src="./images/icon/pre_8.png"></td>
					</tr>
				</table>
			</div>
		</div>
    </body>
</html>
