<!DOCTYPE html>
<html>
  <head>
    <title>chatList 페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
	<script>
		var socket = io();
		var splitString = window.location.search.split('='); //url에서 처음부터 '='까지 삭제
		var id = splitString[1];
		var bool = 0;
		var now = new Date();
		var nowAll = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds() + " ";				
		
		$(document).ready(function(){		
			$(function () {
				$("#AccountWindow").hide();
				$("#friendAddWindowBack").hide();
				$("#friendAddWindow").hide(); //친구 추가 div 안 보이게 함
				//친구 추가 창 유동적으로 하는 부분
				var windowWidth = $(window).width();
				var windowHeight = $(window).height();
				$(window).resize(function(){
					$("#friendAddWindow").css("margin-left",windowWidth*0.5);
					$("#friendAddWindow").css("margin-top",windowHeight*0.5);
				});
				
				//tab메뉴 부분
				$(".tab_content").hide();
				$(".tab_content:first").show();
				$("ul.tabs li").click(function () {
					$("ul.tabs li").removeClass("active").css("color", "#333");
					$(this).addClass("active").css("color", "darkred");
					$(".tab_content").hide()
					var activeTab = $(this).attr("rel");
					$("#" + activeTab).show()
				});
			
				//1:1채팅하기 클릭해서 채팅하기
				$(".goChatting").click(function(){
					var nowId = $("#hideId").text();
					var settings = "toolbar=0,directories=0,status=no,menubar=0,resizable=no,height=800,width=1200,left=0,top=0";
					var url = "chatting?id=" + id + "&room=" + nowId;
					winObject = window.open(url,"CHATTING",settings);
				});
				
				//채팅리스트 클릭시 채팅 창 띄우는 부분			
				$(".friend_chat_list").click(function(){
					var nowId = $(this).attr('id');
					//socket.emit('joinroom', {room: nowId});
					var settings = "toolbar=0,directories=0,status=no,menubar=0,resizable=no,height=800,width=1200,left=0,top=0";
					var url = "chatting?id=" + id + "&room=" + nowId;
					winObject = window.open(url,"CHATTING",settings);
				});		

				$("#manageProfile").click(function(){
					var settings = "toolbar=0,directories=0,status=no,menubar=0,resizable=no,height=800,width=800,left=0,top=0";
					var url = "manageProfile?id=" + id;
					winObject = window.open(url,"manageProfile",settings);
				});
				
				$("#manageChatting").click(function(){
					var settings = "toolbar=0,directories=0,status=no,menubar=0,resizable=no,height=1000,width=800,left=0,top=0";
					var url = "manageChatting?id=" + id;
					winObject = window.open(url,"manageChatting",settings);
				});
				
				$("#manageFriend").click(function(){
					var settings = "toolbar=0,directories=0,status=no,menubar=0,resizable=no,height=600,width=800,left=0,top=0";
					var url = "manageFriend?id=" + id;
					winObject = window.open(url,"manageFriend",settings);
				});
		
				//친구 추가 버튼
				$("#friendAddFont").click(function(){
					if(bool == 0){									
						$("#friendAddWindow").show();
						$("#friendAddWindowBack").show();
						bool = 1;
						$("#friendAddFont").empty();
						$("#friendAddFont").append("X");
					}
					else{
						$("#friendAddWindow").hide();
						$("#friendAddWindowBack").hide();
						bool = 0;
						$("#friendAddFont").empty();
						$("#friendAddFont").append("+");
					}
				});	

				//친구 추가, 취소 기능
				$("#add").click(function(){
					$("#friendIdAdd").val();
					$("#friendAddWindow").hide();
					$("#friendAddWindowBack").hide();
					$("#friendAddFont").empty();
					$("#friendAddFont").append("+");
					bool = 0;
					if($("#friendIdAdd").val() == ""){
						alert("아이디를 입력해주십시오.");
						return;
					}else{
						addFriend.submit();
					}
				});
				$("#cancel").click(function(){
					$("#friendAddWindow").hide();
					$("#friendAddWindowBack").hide();
					$("#friendAddFont").empty();
					$("#friendAddFont").append("+");
					bool = 0;
				});
				
				$(".friend_list").click(function(){
					$("#AccountWindow").show();
					$("#friendAddWindowBack").show();
					var imgAddr = $(this).find('img').attr('src');
					var friendName = $(this).find($(".friend_nick")).text();
					var arrowBox = $(this).find((".arrow_box")).text();
					var awid = $(this).attr('id');
					//id값으로 select해서 나온 이미지 이름 넣기
					$("#AccountWindowImg").attr('src',imgAddr);
					$("#awName").append(friendName);
					$("#awMsg").append(arrowBox);
					$("#hideId").append(awid);
					//차단하는 부분
					$(".btnBlock").click(function(){
						var blockedId = awid;
						var url = "http://ec2-52-39-64-143.us-west-2.compute.amazonaws.com:9000/block?id="+id+"&block="+blockedId;
						$(location).attr('href',url);
					});
				});
				
				$(".btnCancel").click(function(){
					$("#AccountWindow").hide();
					$("#friendAddWindowBack").hide();
					$("#awName").empty();
					$("#awMsg").empty();
					$("#hideId").empty();
				});					
			});
		});
	</script> 
  </head>
	<body>
		<div id="friendAddWindowBack">
		</div>
		<script> if(id){ </script>
			<a href="/logout">로그아웃</a>
		 <script> } </script>
		<div id="container">
			<ul class="tabs">
				<li class="active" rel="tab1">친구 리스트</li>
				<li rel="tab2">채팅 리스트</li>
				<li rel="tab3">설정</li>
			</ul>
			<div class="tab_container">
				<div id="tab1" class="tab_content">
					<div id="friendAdd">
						<p id="friendAddFont">+</p>
					</div>
					<div id="friendAddWindow">
						<form name="addFriend" method="post" action="./addFriend">
							친구 아이디 : &nbsp;&nbsp;&nbsp;<input type="text" name="friendIdAdd" id="friendIdAdd">
							<br>
							<input type="text" name="c_id" id="c_id" value="<%= rows[0].c_id %>" display="none">
							<input type="button" id="add" value="추가">
							<input type="button" id="cancel" value="취소">
						</form>
					</div>
					<div id="AccountWindow">
						<div id="AccountWindowBack"></div>
						<div><img id="AccountWindowImg"></div>
						<div id="AccountWindowBtn">
							<p id="awName"></p>
							<br>
							<p id="awMsg"></p>
							<p id="hideId"></p>
							<br>
							<input type="button" class="goChatting" value="1:1채팅하기">
							<input type="button" class="btnCancel" value="닫기">
							<input type="button" class="btnBlock" value="차단하기">
						</div>
					</div>
					<b class="contentTop">내 프로필</b>
					<hr class="gray">
					<div class="friend_list" id="<%= rows[0].c_id %>">
						<img class="friend_pic" src="<%= rows[0].c_img_file %>">
						<div class="friend_font">
							<div class="friend_nick">
								<%= rows[0].c_name %>
							</div>
							<script>
								var c_msg = '<%= rows[0].c_msg %>';
								if(c_msg !== ''){
									document.write('<div class="arrow_box"><%= rows[0].c_msg %></div>');
								}
							</script>
						</div>	
					</div>
					<br><br>
					<b class="contentTop">전체 친구</b>&nbsp;&nbsp;<%= rows2.length %>
					<hr class="gray">
					<script>
						var c_msg = new Array();
						var name = new Array();
						var c_img = new Array();
						<%
							for(var i=0; i< rows2.length; i++){
						%>
								c_msg[<%=i%>] = '<%= rows2[i].c_msg %>';
								if(c_msg[<%=i%>] == ''){
									document.write('<div class="friend_list" id="<%= rows2[i].c_id %>"><img class="friend_pic" src="<%= rows2[i].c_img_file %>"><div class="friend_font"><div class="friend_nick"><%= rows2[i].c_name %></div></div></div><hr>');
								}else{
									document.write('<div class="friend_list" id="<%= rows2[i].c_id %>"><img class="friend_pic" src="<%= rows2[i].c_img_file %>"><div class="friend_font"><div class="friend_nick"><%= rows2[i].c_name %></div><div class="arrow_box"><%= rows2[i].c_msg %></div></div></div><hr>');						
								}
						<%
							}
						%>
					</script>
				</div>
				<div id="tab2" class="tab_content">
				<!-- for문 돌리면서 div 생성 하는 부분-->
				<%
					for(var j=0;j<rows7.length ;j++){
				%>
						<div class="friend_chat_list" id='<%= rowsx[j].c_id %>'>
							<img class="friend_pic" src='<%= rowsxx[j].c_img_file %>'>
							<div class="friend_font">
								<div class="friend_nick">
									<%= rowsxx[j].c_name %>
								</div>
								<div class="friend_chat">
								<script>
									var eightLeng = <%= rows8.length %>;
									if(eightLeng !== 0){
										var Img = '<%= rows8[j].c_img_file %>';
										if(Img == "" ){
											document.write('<%= rows8[j].chat_msg %>');
										}
										else{
											document.write('<img style="height:60px" src="<%= rows8[j].c_img_file %>">');
											document.write('<%= rows8[j].chat_msg %>');
										}
									}
									</script>
								</div>
							</div>
							<div class="friend_date">
								<%= rows8[j].chat_time %>
							</div>
						</div>
						<hr>
				<%
					}
				%>
				</div>
				<div id="tab3" class="tab_content">
					<div style="height:85px; margin-bottom:10px;">
						<img class="friend_pic" src="<%= rows[0].c_img_file %>">
						<div class="friend_font">
							<div class="friend_nick">
								아이디 : <%= rows[0].c_id %>
								<br>
								이름 : <%= rows[0].c_name %>
							</div>
							<script>
								var c_msg = '<%= rows[0].c_msg %>';
								if(c_msg !== ''){
									document.write('<div class="arrow_box"><%= rows[0].c_msg %></div>');
								}
							</script>
						</div>	
					</div>
					<hr>
					<div id="manageProfile">프로필 관리</div>
					<hr>
					<div id="manageChatting">채팅방 관리</div>
					<hr>
					<div id="manageFriend">친구 관리</div>
					<hr>
				</div>
			</div>
		</div>
    </body>
</html>
