<!DOCTYPE html>
<html>
  <head>
    <title>manageProfile 페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
	<script>
		$(document).ready(function(){		
			$(function () {
				$("#changeCancle").click(function(){
					window.open('about:blank','_self').close();
				});
			});
		});
	</script>
	</head>
	<body>
		<form style="margin-top:20px; margin-left:100px;" name="profile" action="changeProfile" method="post" enctype="multipart/form-data">
			<img style="width:100px; height:100px;" name="image" src="<%= rows[0].c_img_file %>">
			<br>
			<br>
			<input type="file" name="imgChoice">
			<br>
			<input type="text" name="nameChange" value="<%= rows[0].c_name %>">
			<br><br>
			<input style="height: 80px;" type="text" name="msgChange" value="<%= rows[0].c_msg %>"></input>
			<br><br>
			<input type="submit" name="change" value="변경">
			<input type="button" id="changeCancle" value="취소"> 
			<input style="display:none" type="text" name="id" value="<%= rows[0].c_id %>">
			<input style="display:none" type="text" name="img" value="<%= rows[0].c_img %>">
		</form>
	</body>
</html>
