<!DOCTYPE html>
<html>
	<head>
		<title>manageChatting 페이지</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="stylesheets/style.css">
		<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
	</head>
	<body style="margin-top:10px; margin-left:10px">
		나가고 싶은 채팅방을 클릭해주세요.					
		<%
			if(rows7.length !== 0){
				for(var j=0;j<rows7.length ;j++){
		%>
					<div class="friend_chat_list" id='<%= rows8[j].chat_id %>'>
						<img class="friend_pic" src='<%= rowsxx[j].c_img_file %>'>
						<div class="friend_font">
							<div class="friend_nick">
								<%= rowsxx[j].c_name %>
							</div>
							<div class="friend_chat">
								<script>	
									var socket = io();
									$(".exitBtn").click(function(){
										//채팅방 나가기
										var roomId = $(this).attr('id');
										var result = confirm("채팅방을 나가시겠습니까?(해당 채팅 내용은 더 이상 표시되지 않습니다.)");
										if(result){
											var url = "exitChatting?id=" + id + "&chat_id=" + roomId;
											alert(id);
											window.location.href = url;

											//alert("채팅방을 나갔습니다.");
											//window.open("about:blank","_self").close();
										}
									});
									var eightLeng = <%= rows8.length %>;
									if(eightLeng !== 0){
									var Img = '<%= rows8[j].chat_img %>';
									if(Img == "" ){
										document.write('<%= rows8[j].chat_msg %>');
									}
									else{
										document.write('<img style="height:60px" src="<%= rows8[j].chat_img %>">');
										document.write('<%= rows8[j].chat_msg %>');
									}
								}
								</script>
							</div>
						</div>
						<div class="friend_date">
							<%= rows8[j].chat_time %>
							<input type="button" value="채팅방 나가기" class="exitBtn" id='<%= rows8[j].chat_id %>'>
						</div>
					</div>
					<hr>
		<%
				}
			}
		%>
	</body>
</html>
